In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

24/04/28 13:37:59 WARN Utils: Your hostname, myspark resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/04/28 13:37:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/28 13:38:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.json('/home/vboxuser/jupyter_notebooks/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
from pyspark.sql.types import (StructType, StructField, StringType, IntegerType)

In [14]:
data_schema = (StructField('age',IntegerType(),True),
               StructField('name',StringType(),True))

In [15]:
final_struc = StructType(data_schema)

In [16]:
df = spark.read.json('/home/vboxuser/jupyter_notebooks/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json', schema = final_struc)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df.select("age").show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [20]:
type(df.select("age"))

pyspark.sql.dataframe.DataFrame

------------------------
The above method returns a Single column Spark DataFrame and the following method returns a Spark Column.
A Spark Dataframe is much more flexible as compared to just a column so the above method is prefered to access data in Spark

In [24]:
type(df["age"])

pyspark.sql.column.Column

In [26]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
df.head(2)[0]

Row(age=None, name='Michael')

In [29]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [31]:
df.select("age","name").show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.withColumn("newage",df["age"]).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [33]:
df.withColumn("doubleage",df["age"]*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|NULL|Michael|     NULL|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [35]:
df.withColumnRenamed("age","my_new_age").show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [36]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
df.createOrReplaceTempView("people")

In [39]:
results = spark.sql("Select * from people")

In [41]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [43]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+